body {
    color: #000000;
    background-color: white;
    text-align: center;
    font-family: 'Contrail One', sans-serif;
}

h1 {
    color: #000000;
    font-family: 'Contrail One', sans-serif;
  }


.credit {
    color: #000000;
    text-align: center;
    font-family: 'Contrail One', sans-serif;
}

nav a {
    margin: 20px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-family: 'Contrail One', sans-serif;
  }

  nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1a1a1a;
    box-shadow: #1a1a1a;
  }

  .dev {
    color: #000000;
    margin: 5px
  }

  p {
    color:#000000;
  }
